        /* // Медиа запросы */
        
        @media (max-width:1300px) {
            .photo img {
                width: 300px;
            }
            .main-title::before,
            .main-title::after {
                max-width: 70%;
            }
        }
        
        @media (max-width:1200px) {
            .main-title::before,
            .main-title::after {
                max-width: 68%;
            }
        }
        
        @media (max-width:1100px) {
            .main-title::before,
            .main-title::after {
                max-width: 65%;
            }
        }
        
        @media (max-width:1100px) {
            .main-title::after {
                max-width: 600px;
            }
            .main-title::before {
                max-width: 500px;
            }
        }
        
        @media (max-width:1050px) {
            .main-title h1 {
                font-size: 50px;
            }
            .title-wrapper h3 {
                font-size: 30px;
                margin: 30px 0;
            }
            .tabs {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .tabs__nav {
                    display: flex;
                    flex-direction: column;
                    margin: 0px;
                    button {
                        margin: 10px 0;
                        width: 300px;
                    }
                    button+button {
                        margin-left: 0px;
                    }
                }
                .tabs__item {
                    margin-left: 20px;
                    h4,
                    h5 {
                        font-size: 20px;
                    }
                    h6 {
                        // padding-left: 0px;
                        font-size: 16px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
            .common-section {
                padding: 30px 0;
            }
            .common-section .main-title {
                margin-bottom: 20px;
            }
            .job__career {
                img {
                    max-width: 200px;
                    padding: 10px 30px;
                }
                .rezonans img {
                    padding: 30px 30px;
                    background-color: #fff;
                }
                .career {
                    h6 {
                        font-size: 20px;
                    }
                    .year {
                        font-size: 16px;
                    }
                    .description {
                        font-size: 14px;
                    }
                }
            }
        }
        
        @media (max-width:970px) {
            .job__career .career {
                padding: 0 10px;
            }
            .tabs .tabs__item .year {
                padding-left: 50px;
            }
            .main-title::after {
                max-width: 60%;
            }
            .main-title::before {
                max-width: 50%;
            }
            .project-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
                .card1 {
                    position: relative;
                }
                .card1::after {
                    content: "";
                    background: url(/img/velocity.png);
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-repeat: no-repeat;
                    background-size: contain;
                    opacity: 0.5;
                    position: absolute;
                    z-index: -1;
                }
                .card__img {
                    width: 100px;
                }
            }
        }
        
        @media (max-width:890px) {
            #burger-menu {
                display: block;
            }
            .header__nav li:nth-child(-n+5) {
                display: none;
            }
        }
        
        @media (max-width:870px) {
            .main-title::before {
                max-width: 50%;
            }
            .main-title::after {
                max-width: 50%;
            }
        }
        
        @media (max-width:800px) {
            .photo img {
                display: none;
            }
            .job__career {
                grid-template-columns: repeat(1, 1fr);
                .career+.career {
                    margin-top: 20px;
                }
            }
            .project-cards {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        
        @media (max-width:780px) {
            .main-title::before {
                max-width: 40%;
            }
            .main-title::after {
                max-width: 40%;
            }
            .footer__social ul {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
        @media (max-width:640px) {
            .main-title::before {
                max-width: 30%;
            }
            .main-title::after {
                max-width: 30%;
            }
            .job__career {
                .career {
                    h6 {
                        font-size: 16px;
                    }
                    .year {
                        font-size: 14px;
                    }
                    img {
                        align-items: center;
                    }
                }
            }
            .tabs .tabs__item h4,
            .tabs .tabs__item h5 {
                font-size: 16px;
            }
            .tabs .tabs__item p {
                font-size: 14px;
            }
            .tabs .tabs__nav button {
                margin: 10px 0;
                width: 200px;
            }
            .job__career .career {
                padding: 0 10px;
            }
        }
        
        @media (max-width:550px) {
            .main-title {
                text-align: center;
            }
            .main-title::before {
                max-width: 0;
            }
            .main-title::after {
                // display: none;
                max-width: 0;
            }
            .job {
                h1 {
                    text-align: center;
                }
            }
        }
        
        @media (max-width:490px) {
            .about .tplink {
                padding: 20px;
                margin: 10px 0;
            }
        }
        
        @media (max-width:450px) {
            .about .tplink {
                padding: 20px;
                margin-top: 10px;
            }
            .tabs .tabs__nav button {
                height: 100px;
                width: 100px;
                font-size: 14px;
                padding: 10px 5px;
                line-height: 2;
                // margin: 0;
                button+button {
                    margin-top: 20px 0;
                }
            }
        }
        
        @media (max-width:380px) {
            .about .tplink,
            .job__career .tplink {
                padding: 10px;
                margin: 10px 0;
            }
            .tabs .tabs__nav button {
                height: 100px;
                width: 100px;
                font-size: 14px;
                padding: 10px 5px;
                line-height: 2;
                // margin: 0;
                button+button {
                    margin-top: 20px 0;
                }
            }
        }